<div class="container mx-auto px-4 py-40">
  <h1 class="text-5xl">{{ title }}</h1>
  {{ class }}
    <h3 class="text-5xl opacity-25">{{ title }}</h3>
  {{ /class }}
</div>

<div class="px-4 py-20 flex justify-center" style="background-color: {{ color }}">
  {{ cover }}
    <img  class="max-w-3xl" src="{{ url }}" alt="{{ alt }}">
  {{ /cover }}
</div>

<div class="container mx-auto pt-24 opacity-50 -mb-6">
  <span class="dot-after">{{ date }}</span>
  <span>{{ class }}{{ abbreviation }}{{ /class }}</span>
</div>

<div class="content mx-auto mb-32 px-4 relative">
  {{ body }}

    {{ if type=="text" }}

      {{ text }}

    {{ elseif type=="image" }}

      {{ image }}
        <img class="pt-8 pb-12 image-large" src="{{ url }}" alt="{{ alt }}">
      {{ /image }}

    {{ /if }}

  {{ /body }}
</div>

<div class="container mx-auto mb-32 px-4">
  <hr class="mb-32">
  <div class="assignments-grid">
    <div>
      <h4 class="text-4xl">Still not convinced?</h4>
      <h4 class="text-4xl opacity-25 pb-16">Browse some more</h4>
      <a href="/" class="button">
        All assignments
        <svg class="icon" width="6" height="10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 9l4-4-4-4" stroke="#000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>

    <ul>
      {{ related_assignments }}
        <li class="flex items-baseline border-b px-8 pb-2 mb-10">
          <div class="w-64">
            <span class="opacity-25 dot-after">{{ date format="M jS, Y" }}</span>
            <span class="opacity-25">{{ class }}{{ abbreviation }}{{ /class }}</span>
          </div>
          <a href="{{ url }}">
            <h4 class="assignment-title text-3xl relative">{{ title }}</h4>
          </a>
        </li> 
      {{ /related_assignments }}
    </ul>
  </div>
</div>