<div class="assignments-grid container mx-auto px-4 pt-4">
  <div class="leading-tight">
    <h1 class="text-4xl" id="test">What am I doing?</h1>
    <h2 class="text-4xl opacity-25 mb-24">See for yourself</h2>

    <div class="relative">
      <div class="assignments-image-background rounded-full absolute right-0 flex items-center">
        <img class="assignments-image absolute z-10" alt="">
      </div>
    </div>
  </div>

  <ul>
    {{ collection:assignments }}
      <li class="assignment-item flex items-baseline border-b px-8 pb-2 mb-10">
        <div class="w-64">
          <span class="opacity-25 dot-after">{{ date format="M jS, Y" }}</span>
          {{ class }}
            <a  href="{{ url }}" class="opacity-25">{{ abbreviation }}</a>
          {{ /class }}
        </div>
        <a href="{{ url }}">
          <h4 class="assignment-title text-3xl relative" data-id="{{ id }}">
          {{ title }}
          </h4>
        </a>
      </li>
    {{ /collection:assignments }}
  </ul>
</div>

<div class="mx-auto px-4 text-center leading-tight py-40">
  <h5 class="text-4xl">Thanks for scrolling,</h5>
  <h5 class="text-4xl opacity-25">that's all folks.</h5>
</div>