@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.assignments-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 160px;
}

.assignments-image-background {
  width: 480px;
  height: 480px;
  background-color: #f6f6f6;
}

.assignments-image {
  top: 80px;
  right: -120px;
}

.content {
  @apply max-w-2xl flex flex-col items-center;

  & > h2 {
    @apply py-4 text-4xl w-full;
  }

  & > h3 {
    @apply py-2 text-2xl w-full;
  }

  & > p {
    @apply mb-6 text-lg leading-relaxed;
  }

  & > blockquote {
    @apply italic;
  }

  & > blockquote > p {
    @apply mb-6 text-lg leading-relaxed;
  }

  & a {
    @apply underline;
  }

  & strong {
    @apply font-normal;
  }

  & > ul {
    @apply w-full pl-0 list-disc ml-10 mb-6 text-lg;
      & > li {
        @apply mb-1;
      }
  }

  & > ol {
    @apply w-full pl-0 list-decimal ml-10 mb-6 text-lg;
      & > li {
          @apply mb-1;
      }
  }

  & > p code,
  & > ul li *:not(pre) code,
  & > ul li > code,
  & > ol li *:not(pre) code,
  & > ol li > code {
      @apply inline-block bg-gray-200 text-gray-800 text-sm p-1 leading-none whitespace-no-wrap font-mono align-baseline;
  }

  & > pre {
    @apply w-full;
  }

  & > pre code {
      @apply flex p-4 bg-gray-200 text-gray-800 text-sm leading-loose mb-6;
  }
}

.content > .image-large {
  max-width: 1200px;
}

.dot-after::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 999px;
  background-color: #000;
  margin: 0 8px 3px;
}

.transition {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.transition-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  color:white;
  font-size: 2.4rem !important;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px !important;
  opacity: 0;
  will-change: opacity, transform;
}

.transition-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#F2F2F2;
  transform: translateY(100%);
}